body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.wrapper {
  width: 65%;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 5px 1px rgba(119, 119, 119, 0.5);
}
h1 {
  padding: 25px 0;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}
h2 {
  padding: 25px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
ol {
  padding-left: 30px;
  list-style-type: decimal;
}
ul {
  list-style: disc;
}
li {
  font-size: 16px;
  line-height: 26px;
}
a {
  text-decoration: none;
  color: #4078c0;
}
a:hover {
  text-decoration: underline;
}
code {
  font-family: Courier, monospace;
  font-style: oblique;
}
button {
  margin: 10px 30px;
}